.flexy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lists {
  list-style-type: none;
}

.option {
  margin: 10px;
  border: 1px solid;
  opacity: .3;
}

.names {
  cursor: move;
}

.table {
  table-layout: fixed;
  padding: 0;
}

#new-options {
  visibility: hidden;
}